.nav-border{
    border-top: 5px solid black;
}

.cont-width{
    width: 100%;
    margin-inline: 6vw;
}

.brand-logo{
position: absolute;
z-index: 10;
left: 45vw;
padding: 0;
top: 0;
}

.brand-image{
    width: 27vh;
}

.top-nav > span > a {
    margin-inline: 5px;
    font-size: 13px;
    color: #321940;
    text-decoration: none;
}

.nav-link{
    font-weight: bold;
}

.user-actions > a > img {
    width: 25px;
    margin-inline: 16px;
}